body {
 margin-left: auto;
 margin-right: auto;
 width: 96%;
 max-width: 760px;
 background: #CCFFFF;
}
img {
 max-width: 100%;
}
h1 {
  font-size: 1.6em;
  border: inset 10px #96CD14;
}
h2 {
 border: inset 5px white;
 background: white;
}
li:first-letter {
  font-weight: bold;
  color: black;
}
ol{
  list-style-type:lower-greek;
}